body, html {
  height: 100%;
  margin: 0;
}

.main-logo {
  width: 300px;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
}

.main-logo:hover {
  width: 290px;
}

.splashpage {
    background-image: url(https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80); 
    filter: contrast(80%);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.splash-container {
  margin-top: 0;
  padding-top: 7em;
}

.splash-content {
  /*
  filter: opacity(90%);
  background-color: black;
  */
  /* padding: 30px; */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  /*
    padding-top: 6em;
    margin-top: 0;
    */
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: white;
}

button {
  margin-left: 30%;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em;
  width: 8em;
  color:rgb(29, 166, 150);
  font-size: 1.5em;
  border-style: none;
  background-color: white;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-color: rgb(29, 166, 150);
}

button:hover {
  background-color:rgb(29, 166, 150);
  color: white;
  border-style: solid;
}