body, html {
  height: 100%;
  margin: 0;
}

.splashpage {
    background-image: url(https://images.unsplash.com/photo-1523939158338-1708c2391359?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80); 
    filter: contrast(80%);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    padding-top: 5em;
    margin-top: 0;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: white;
}

button {
  background-color: green;
}