.video-title {
    font-size: 1.5em !important;
}

.channel-description {
    text-align: right;
}

.follow-button {
    background-color: rgb(244, 226, 107);
    color: black;
    padding: 0.5em;
    text-transform: uppercase;
    margin-left: 1em;
}

.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 250px;
}